/*文字排版*/

.ti{
	text-indent: 2em;
}
.f10{font-size:10px; }
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.f26{font-size: 26px}
.f30{font-size: 30px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

/*定位*/

.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}

/*长度高度*/

.w10{width:10px}
.wp20{width:20px}
.wp30{width:30px}
.wp40{width:40px}
.wp50{width:50px}
.wp60{width:60px}
.wp70{width:70px}
.wp80{width:80px}
.wp90{width:90px}
.wp100{width:100px}
.wp180{width:180px}
.wp200{width:200px}
.wp250{width:250px}
.wp300{width:300px}
.wp400{width:400px}
.wp500{width:500px}
.wp600{width:600px}
.wp700{width:700px}
.wp800{width:800px}
.wp140{width: 140px}
.wp460{width: 460}
.w40{width: 40%}
.w60{width: 60%}
.w70{width: 70%}
.w80{width: 80%}
.w90{width:90%}
.w{width:100%}
.h50{height:50px}
.h80{height:80px}
.h90{height:90px!important}
.h100{height:100px}
.h160{height:160px}
.h200{height:200px}
.h260{height:260px}
.h300{height:300px}
.h500{height: 500px}
.h568{height: 568px}
.h457{height: 457px}
.h636{height: 635px}
.h{height:100%}
.r10{right: 10px}

/*边距*/
.mauto{margin:auto auto}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m30{margin:30px}
.m50{margin:50px}
.m100{margin:100px}
.m200{margin:200px}
.mt0{margin-top: 0px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt60{margin-top: 60px}
.mt80{margin-top: 80px}
.mt100{margin-top:100px}
.mt120{margin-top:120px}
.mt150{margin-top:150px }
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.mb150{margin-bottom: 150px}
.mb180{margin-bottom: 180px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.ml150{margin-left: 150px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.mr150{margin-right: 150px}
.p0{padding: 0px}
.p2{padding:2px}
.p5{padding:5px}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pb150{padding-bottom: 150px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px!important}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pl150{padding-left:150px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}
/*颜色*/
.cr2e {
color: #2e98ea;
}
.cr3b{
  color: #3b8df0;
}
.crfb{
  color: #FB811C
}
.cr999{
	color: #999;
}
.cr666{
	color: #666;
}
.crcor{
	color: coral;
}
.cr333{
	color: #333;
}
.cr3b9{
	color:#3B9DDA;
}
.crd9d{
color:#d9d9d9;
}
.cr199{
	color: #1992d1;
}
.cr44{
color: #449d44;
}
.cr5b{
	color: #5BC0DE;
}
.cree{
	color: #eee;
}
.crred{
	color: #ff0000;
}
.crfff{
	color: #fff;
}
.cr5a{
	color: #5AC92E;
}
.cr9e{
color:#9ED034;
}
.cref{
	color:#efefef;
}
.cr000{
	color: black;
}
.crff4{
	color: #ff8936;
}
.cr5c{
	color: #5cb85c
}
.cr3b5{
	color:#3B5998;
	
}
.cr00b{
	color:#00B0ED;
}
.bcrf6f6{
	background-color: #F6F6F6;
}

